@model Maonot.Models.VisitorsLog

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>VisitorsLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EnteryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnteryDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VistorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VistorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VisitorID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VisitorID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentLasttName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentLasttName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExitDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExitDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApartmentNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApartmentNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Room)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Signature)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Signature)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
