@model IEnumerable<Maonot.Models.VisitorsLog>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EnteryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VistorName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VisitorID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentFirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentLasttName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExitDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApartmentNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Room)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Signature)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnteryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VistorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentLasttName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApartmentNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Signature)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
